{# Compact table view of avatars. Expects: avatars (list of view dicts). #}
<div class="overflow-x-auto bg-white border rounded-lg">
<table class="min-w-full divide-y divide-gray-200 text-sm">
    <thead class="bg-gray-50">
        <tr class="text-left text-xs text-gray-500 uppercase tracking-wider">
            <th class="px-3 py-2">Avatar</th>
            <th class="px-3 py-2">Status</th>
            <th class="px-3 py-2">Client / Persona</th>
            <th class="px-3 py-2 text-right">Reddit Karma</th>
            <th class="px-3 py-2 text-right">Week</th>
            <th class="px-3 py-2 text-right">Brand</th>
            <th class="px-3 py-2">Last check</th>
            <th class="px-3 py-2"></th>
        </tr>
    </thead>
    <tbody class="divide-y divide-gray-100">
        {% for a in avatars %}{% include "partials/avatar_row.html" %}{% endfor %}
    </tbody>
</table>
</div>
